
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.3.2/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.Login_mobilecontainer {
	padding: 15px 15px 15px 15px;
	height: 100%;
}
/* user_image */
.Login_user_image {
	margin: 0px 50px 50px 0px;
	width: 100px; height: 100px;
	display: block;
	margin-left: auto;
  margin-right: auto;
}
/* lb_usuario */
.Login_lb_usuario {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* in_usuario */
.Login_in_usuario {
	margin: 4px 0px 4px 0px;
}
/* lb_password */
.Login_lb_password {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* in_password */
.Login_in_password {
	margin: 4px 0px 4px 0px;
}
/* bt_entrar */
#Login_bt_entrar {

}
.ui-btn.Login_bt_entrar {
	margin: 4px 5px 4px 5px;
}
/* lb_recordarPass */
.Login_lb_recordarPass {
	text-decoration: none; font-weight: normal; font-style: italic; color: #006691; text-align: center; font-family: Helvetica; font-size: 10px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
}
/* mobilefooter */
.Login_mobilefooter {
	min-height:38px;
}
